<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Commit Counter</title>
</head>
<body>
    <h1>Daily Commit Counter</h1>
    <h2><a href="#">README.md</a></h2>
    <h2>Repository</h2>
    <ol>
        <li>
            <a href="#">GET /dailycommit/{id}</a>
        </li>
        <li>
            <a href="#">GET /dailycommit/{id}/all</a>
        </li>
        <li>
            <a href="#">POST /dailycommit/{id}</a>
            <br>
<pre>
{
    "webhook" : "SLACK_WEBHOOK_URL"
}
</pre>
        </li>
    </ol>
</body>
</html>