<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Commit Counter</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Daily Commit Counter</h1>
    <h2><a href="https://github.com/devdevdev09/202007/blob/master/README.md" target="_blank">README.md</a></h2>
    <h2><a href="https://github.com/devdevdev09/202007" target="_blank">Repository</a></h2>
<a href="#">GET /dailycommit/{id}</a>
<button id="apiGet">test</button>
<pre id="jsonResult">
<code id="jsonCode">

</code>    
</pre>
<hr>
        <li>
            <a href="#">GET /dailycommit/{id}/year=2020</a>
        </li>
        <li>
            <a href="#">GET /dailycommit/{id}/all</a>
        </li>
        <li>
            <a href="#">POST /dailycommit/{id}</a>
            <br>
<pre>
{
    "webhook" : "SLACK_WEBHOOK_URL"
}
</pre>
        </li>
    </ol>
<script>
$(function(){
    $("#apiGet").on("click", btnClick);
});

const apiSuccess = function(json){
    jsonPretty(json, $("#jsonCode"));
}

const jsonPretty = function(json, target){
    target.html(JSON.stringify(json, undefined, 4));
}

const btnClick = function(){
    $.ajax({
        "url" : "/dailycommit/devdevdev09"
        ,success : apiSuccess
            // console.log(JSON.stringify(json));
            // $("#jsonCode").html(JSON.stringify(json, undefined, 4));
    })
}
</script>
</body>
</html>